include _childCommentForm

mixin comment(comment = {})
	.comment__header
		.comment__author
			img.avatar(src=comment.author.gravatar)
			a(href=`/profile/${comment.author.username}`) #{comment.author.username}
			time.comments__time(datetime=comment.created)= h.moment(comment.created).fromNow()
	.comment__text
		p= comment.text
	.comments__childs
		+childCommentForm(null, post._id, comment._id)
		//if comment.childComments.length > 0
			each childComment in childComments
				//- - console.log(post._id)
				+childCommentForm(null, post._id, comment._id)
	